<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="todaysmenu.pondar.org.todaysmenu">

    <!-- we need a watch! -->
    <uses-feature android:name="android.hardware.type.watch" />

    <uses-sdk
        android:minSdkVersion="20"
        android:targetSdkVersion="21" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@style/AppTheme" >
        <!-- you need to declare the confirmation activity in the manifest file -->
        <activity
            android:name="android.support.wearable.activity.ConfirmationActivity">
        </activity>
        <activity
            android:name="todaysmenu.pondar.org.todaysmenu.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
